<h5>本当に退会しますか？</h5>

退会すると、会員登録情報や</br>
これまでの購入履歴が閲覧できなくなります。</br>
退会する場合は、「退会する」をクリックしてください。</br>

<%= link_to customer_show_path, class:'nav-link' do %>
  退会しない
<% end %>

<%= link_to customer_withdraw_path, method: :patch, class:'nav-link' do %>
  退会する
<% end %>