<div class="container">
  <div class="row">
    <p class="mx-auto font-weight-bold" style="font-size: 70px;">About</p>
  </div>
  <div class="row">
    <p class="mx-auto text-center" style="font-size: 20px;">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</p>
  </div>
  <div class="row m-3">
    <%= image_tag 'about.jpg', class: "mx-auto"  %>
  </div>
</div>