<li>
  <%= link_to about_path, class:'nav-link' do %>
    About
  <% end %>
</li>
<li>
  <%= link_to item_path, class:'nav-link' do %>
    商品一覧
  <% end %>
</li>
<li>
  <%= link_to new_customer_registration_path, class:'nav-link' do %>
    新規登録
  <% end %>
</li>
<li>
  <%= link_to new_customer_session_path, class:'nav-link' do %>
    ログイン
  <% end %>
</li>